<div class="contentPage">
    <div class="contentBox">
        <h1 class="title">Réinitialiser votre mot de passe</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form">
            <div class="inputContainer">
                <mat-form-field class="full-width">
                    <mat-label>mot-de-passe</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
                        password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('password')">
                        Please enter a valid password address
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>confirmez votre mot-de-passe</mat-label>
                    <input type="password" matInput formControlName="confirmPassword">
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
                        confirmPassword is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('confirmPassword')">
                        Please enter a valid confirmPassword address
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button type="submit" class="button-form" [disabled]="resetPasswordForm.invalid">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="container-right-login">
        <div class="background-login"></div>
    </div>
</div>