
@import '../../../../variables.scss';

.container-editVehiculeModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-title-editVehiculeModal {
    margin: 0 20px;
}

.title-editVehiculeModal {
    margin: 30px;
    margin-bottom: 50px;
    color: black;
}

.content-editVehiculeModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 20px;
}

.container-input-editVehiculeModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

.title-input-editVehiculeModal {
}

.container-selectInput-editVehiculeModal {
}

.option-selectInput-editVehiculeModal {

}

.input-editVehiculeModal {
}

.container-button-editVehiculeModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.button-editVehiculeModal {
}

.validate {
    background-color: $button-main-color !important;
    color: white !important;
}

.validate:hover {
    background-color: $button-main-color-hover !important;
}
