
<div class="navbar-wrapper">
    <nav class="navbar">

            <a routerLink="/" routerLinkActive="active">
                <div class="logo-container">
                    <img class="logo" src="../../assets/logo.png" alt="Home">
                </div>
            </a>

            <ul class="left-nav-links">
                <li routerLink="/planning" class="contentBox" routerLinkActive="active">
                    <a>Planning</a>
                </li>
                <li routerLink="/commands" class="contentBox" routerLinkActive="active">
                    <a>Commandes</a>
                </li>
                <li routerLink="/vehicule" class="contentBox" routerLinkActive="active">
                    <a>Vehicules</a>
                </li>
                <li routerLink="/statistic" class="contentBox" routerLinkActive="active">
                    <a>Statistiques</a>
                </li>
                <li routerLink="/carte" class="contentBox" routerLinkActive="active">
                    <a>Carte</a>
                </li>
                
            </ul>
            <ul class="right-nav-links">
                <li routerLink="/profile" class="profile-button" routerLinkActive="active">
                    <a matTooltip="Profile">
                        <mat-icon>account_circle</mat-icon>
                    </a>
                </li>
            </ul>
    </nav>
</div>
