
<div class="navbar-wrapper">
    <nav class="navbar">

            <a routerLink="/">
                <div class="logo-container">
                    <img class="logo" src="../../assets/logo.png" alt="Home">
                </div>
            </a>

            <ul class="left-nav-links">
                <li class="contentBox">
                    <a routerLink="/planning">Planning</a>
                </li>
                <li class="contentBox">
                    <a routerLink="/commands">Commandes</a>
                </li>
                <li class="contentBox">
                    <a routerLink="/vehicule">Vehicules</a>
                </li>
                <li class="contentBox">
                    <a routerLink="/statistic">Statistiques</a>
                </li>
                
            </ul>
            <ul class="right-nav-links">
                <li class="profile-button">
                    <a routerLink="/profile" matTooltip="Profile">
                        <mat-icon>account_circle</mat-icon>
                    </a>
                </li>
            </ul>
    </nav>
</div>
