<div ngClass="container-userDeleteModal">
    <div ngClass="container-title-userDeleteModal">
        <h1 ngClass="title-userDeleteModal">Suppression de {{ user.email }}</h1>
    </div>

    <div ngClass="content-userDeleteModal">
        <div ngClass="container-button-userDeleteModal">
            <button ngClass="cancel button-userDeleteModal" mat-raised-button color="warn"
                (click)="close()">Annuler</button>
            <button ngClass="validate button-userDeleteModal" mat-raised-button color="primary"
                (click)="deleteUser()">Valider</button>
        </div>
    </div>
</div>