<div class="tools">
    <div class="sidebar">
        <div class="sidebar-header">Outils</div>
        <div class="tool-buttons">
            <div class="tool-button" (click)="onToolClick('ForeCast')" [ngClass]="{'active': selectedTool === 'Tool 1'}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="icon">
                    <path d="M50.7 58.5L0 160H208V32H93.7C75.5 32 58.9 42.3 50.7 58.5zM240 160H448L397.3 58.5C389.1 42.3 372.5 32 354.3 32H240V160zm208 32H0V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192z"/>
                </svg>
                <span>Prévision de Commande</span>
            </div>
            <div class="tool-button" (click)="onToolClick('MissingDelivery')" [ngClass]="{'active': selectedTool === 'Tool 2'}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="16" height="16" class="icon">
                    <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                </svg>
                <span>Redistribution des commandes</span>
            </div>
            <div class="tool-button" (click)="onToolClick('Stats')" [ngClass]="{'active': selectedTool === 'Tool 3'}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="icon">
                    <path d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/>
                </svg>
                <span>Actualisation des statistiques</span>
            </div>
        </div>
    </div>
    <div class="results-container">
        <ng-container *ngIf="!selectedTool">
            <h3>Sélectionnez un outil</h3>
        </ng-container>
        <ng-container *ngIf="selectedTool">
            <h3>Launch {{ selectedTool }}</h3>
            <button class="launch-button" (click)="launchTool()">Launch {{ selectedTool }}</button>
            <!-- Display tool response -->
            <div *ngIf="result" class="result-data">
                <div class="result-message">{{ result.message }}</div>
                <pre>{{ result.data | json }}</pre>
            </div>
        </ng-container>
    </div>
</div>
