<div ngClass="container-companyCreateModal">
    <div ngClass="container-title-companyCreateModal">
        <h1 ngClass="title-companyCreateModal">Création d'une nouvelle entreprise</h1>
    </div>

    <div ngClass="content-companyCreateModal">
        <div ngClass="container-inputs-companyCreateModal">
            <div ngClass="container-input-companyCreateModal">
                <mat-form-field ngClass="content-input-companyCreateModal">
                    <mat-label ngClass="title-input-companyCreateModal">Nom de l'entreprise</mat-label>
                    <input matInput ngClass="input-companyCreateModal" placeholder="Ex. Diagora" [(ngModel)]="name"
                        name="name" [required]="true">
                </mat-form-field>
                <p ngClass="error-message-input-companyCreateModal" *ngIf="nameErrorMessage !== ''">
                    *{{nameErrorMessage}}
                </p>
            </div>
            <div ngClass="container-input-companyCreateModal">
                <mat-form-field ngClass="content-input-companyCreateModal">
                    <mat-label ngClass="title-input-companyCreateModal">Adresse de l'entreprise</mat-label>
                    <input matInput ngClass="input-companyCreateModal"
                        placeholder="Ex. 3 Rue Pierre, Montpellier, 34000, France" [(ngModel)]="address" name="address"
                        [required]="true">
                </mat-form-field>
                <p ngClass="error-message-input-companyCreateModal" *ngIf="addressErrorMessage !== ''">
                    *{{addressErrorMessage}}
                </p>
            </div>

        </div>

        <div ngClass="container-button-companyCreateModal">
            <button ngClass="cancel button-companyCreateModal" mat-raised-button color="warn" (click)="close()">
                Annuler
            </button>
            <button ngClass="validate button-companyCreateModal" mat-raised-button color="primary"
                (click)="createCompany()">
                Valider
            </button>
        </div>
    </div>
</div>
