<div class="container-login">
    <div class="container-left-login">
        <div class="container-title-login">
            <h1 class="title-login">Bienvenue !</h1>
            <h4 class="subtitle-login">Entrez vos identifiants afin d'accéder à votre compte</h4>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="container-form-login">
            <div class="inputContainer-form-login">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. entreprise@diagora.com">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="inputContainer-form-login">
                <mat-form-field class="example-full-width">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Votre mot de passe">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="rememberContainer-form-login">
                <mat-checkbox formControlName="remember" color="primary"
                    class="custom-checkbox checkbox-form-login">Rester connecté</mat-checkbox>
                <a class="forgotPassword-form-login" routerLink="/forgot-password">Mot de passe oublié ?</a>
            </div>
            <button mat-raised-button type="submit" class="button-form-login"
                [disabled]="loginForm.invalid">Connectez-vous</button>
        </form>
        <div class="regirsterLinkContainer-login">
            <p class="regirsterLinkContent-login">
                Vous n'avez pas de compte ? <a class="regirsterLink-login" routerLink="/register">Créer Un Compte</a>
            </p>
        </div>
    </div>
    <div class="container-right-login">
        <div class="background-login"></div>
    </div>
</div>