<!-- Vehicle page html -->

<div class="page-container">
    <div *ngIf="checkPermission('manager')" class="buttonContainer">
        <button class="buttonADD" (click)="openModal('ADD')">
            Ajouter un véhicule
        </button>
    </div>

    <div class="filter-container">

        <h2 class="filter-section-heading">Filtres</h2>
        <div class="filter-components">
            <div class="date-selector">
                <label class="label-text" for="deliveryDate">Date de Livraison :</label>
                <div class="input-container">
                    <input type="date" id="deliveryDate" [(ngModel)]="date">
                    <i class="fas fa-calendar-alt"></i> <!-- FontAwesome calendar icon -->
                </div>
            </div>
            <div class="display-button-container">
                <button class="vehicule-button" (click)="getVehicules()"> Afficher </button>
            </div>
        </div>
    </div>


    <div class="mainContainer">

    </div>
</div>