<!-- Vehicle page html -->

<div class="page-container">
    <div *ngIf="checkPermission('manager')" class="buttonContainer">
        <!-- <button class="buttonADD" (click)="openModal('ADD')">
            Ajouter un véhicule
        </button> -->
        <button class="buttonADD" mat-fab extended (click)="openModal('ADD')">
            Ajouter un véhicule
            <mat-icon>playlist_add</mat-icon>
        </button>
    </div>

    <div class="filter-container">

        <h2 class="filter-section-heading">Filtres</h2>
        <div class="filter-components">
            <div class="date-selector">
                <label class="label-text" for="deliveryDate">Date de Livraison :</label>
                <mat-form-field class="input-container">
                    <mat-select [(value)]="selectedUser">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="display-button-container">
                <button class="vehicule-button" (click)="getVehicules()"> Afficher </button>
            </div>
        </div>
    </div>


    <div class="mainContainer">

    </div>
</div>