<!-- Commande page html -->

<div class="page-container">


    <div class="filter-container">

        <h2 class="filter-section-heading">Filtres</h2>
        <div class="filter-components">
            <div class="date-selector" *ngIf="isManager">
                <label class="label-text">Livreur :</label>
                <mat-form-field class="input-container">
                    <mat-select [(value)]="selectedUser">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="date-selector">
                <label class="label-text" for="deliveryDate">Jour de Livraison :</label>
                <div class="input-container">
                    <input type="date" id="deliveryDate" [(ngModel)]="date">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
            <div class="display-button-container">
                <button class="order-button" (click)="lockVehicle()"> Selectionner véhicule </button>
                <button class="order-button" (click)="getOrders()"> Afficher </button>
            </div>
        </div>
    </div>


    <div class="mainContainer">
        <!-- <h2 class="itinerary-section-heading" *ngIf="!selectedUserName">Livraisons</h2> -->
        <h2 class="itinerary-section-heading" *ngIf="selectedUserName">Livraisons de {{ selectedUserName }} du {{ date
            | date: 'dd/MM/yyyy' }}</h2>

        <!-- Left Container -->
        <div class="left-right-container">
            <div class="left-container">
                <div class="orderListContainer">
                    <!-- Default message -->
                    <div *ngIf="isManager && !selectedUserName" class="default-message">Veuillez sélectionner un
                        livreur.</div>

                    <div *ngIf="isManager && selectedUserName && !formatedOrders.length" class="default-message">Ce
                        livreur n'a pas de livraison pour cette journée.</div>
                    <div *ngIf="!isManager && selectedUserName && !formatedOrders.length" class="default-message">
                        Vous n'avez pas de livraison pour cette journée.
                    </div>

                    <div *ngIf="selectedUserName && formatedOrders.length !== 0"
                        ngClass="container-tab-userList mat-elevation-z8" tabindex="0">
                        <table ngClass="tab-userList" mat-table [dataSource]="formatedOrders">
                            <ng-container class="content-tab-userList" matColumnDef="date">
                                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Date de livraison
                                </th>
                                <td ngClass="data-tab-userList" mat-cell *matCellDef="let data"> {{data.delivery_date}}
                                </td>
                            </ng-container>
                            <ng-container class="content-tab-userList" matColumnDef="address">
                                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Adresse de
                                    livraison </th>
                                <td ngClass="data-tab-userList" mat-cell *matCellDef="let data">
                                    {{data.delivery_address}} </td>
                            </ng-container>
                            <ng-container class="content-tab-userList" matColumnDef="description">
                                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Description </th>
                                <td ngClass="data-tab-userList" mat-cell *matCellDef="let data"> {{data.description}}
                                </td>
                            </ng-container>
                            <ng-container *ngIf="isManager" class="content-tab-userList" matColumnDef="action">
                                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Action </th>
                                <td class="data-tab-userList" mat-cell *matCellDef="let data">
                                    <div class="company-container">
                                        <button class="button-data-tab-userList" (click)="openModal('EDIT', data)">
                                            <mat-icon>settings</mat-icon>
                                        </button>
                                        <button class="button-data-tab-userList" (click)="deleteOrder(data)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isManager" class="buttonContainer">
            <button class="buttonADD" mat-fab extended (click)="openModal('ADD')">
                Ajouter une commande
                <mat-icon>playlist_add</mat-icon>
            </button>
        </div>
    </div>
</div>