<!-- Commande page html -->

<div class="page-container">
    <!-- <div *ngIf="checkPermission('manager')" class="buttonContainer">
        <button class="buttonADD" mat-fab extended (click)="openModal('ADD')">
            Ajouter une commande
            <mat-icon>playlist_add</mat-icon>
        </button>
    </div> -->

    <div class="filter-container">

        <h2 class="filter-section-heading">Filtres</h2>
        <div class="filter-components">
            <div class="date-selector">
                <label class="label-text">Livreur :</label>
                <mat-form-field class="input-container">
                    <mat-select [(value)]="selectedUser">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="display-button-container">
                <button class="order-button" (click)="getOrders()"> Afficher </button>
            </div>
        </div>
    </div>


    <div class="mainContainer">
        <h2 class="itinerary-section-heading" *ngIf="!selectedUserName">Livraisons</h2>
        <h2 class="itinerary-section-heading" *ngIf="selectedUserName">Livraisons de {{ selectedUser.name }} du {{ date | date: 'dd/MM/yyyy' }}</h2>

        <!-- Left Container -->
        <div class="left-right-container">
            <div class="left-container">
                <div class="orderListContainer">
                    <!-- Default message -->
                    <div *ngIf="!selectedUserName" class="default-message">Veuillez sélectionner un livreur.</div>

                    <div *ngIf="selectedUserName && !formatedOrders.length" class="default-message">Ce livreur n'a aucune livraison ajourd'hui.</div>
                    <!-- Actual delivery steps -->
                    <ul *ngIf="selectedUser && formatedOrders.length !== 0">
                        <li *ngFor="let order of formatedOrders">
                            {{ order.description }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>