<button id="nav" (click)="toggleNavbar()">Toggle Navbar</button>

<!-- <button id="navigate" (click)="change()">Move To Planning Page</button> -->

<nav [ngClass]="{'open': isNavbarOpen}">
    <!-- Bouton pour ouvrir/fermer la navbar -->
  
    <!-- Contenu de la navbar -->
    <ul>
        <li (click)="gohome()">Home</li>
        <li (click)="change()">Planning</li>
        <li id="current">Commandes</li>
        <li>Stats</li>
        <li>Vehicule</li>
        <li>Admin</li>
        <li>Carte</li>
    </ul>
</nav>