body {
    margin: 0;
    overflow: hidden; /* hide any potential overflow */
  }
  
  .container {
    display: flex;
    height: 94vh;
    overflow: hidden; /* hide any potential overflow */
  }
  
  .left-container,
  .right-container {
    padding: 20px;
    flex: 1;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  .inner-container {
    padding: 20px;
    height: 100%;
  }
  
  .delivery-steps-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scroll if needed */
    max-height: calc(100vh - 40px); /* Adjust based on your needs */
  }
  
  .date-selector {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border: 1px solid #999;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
  }
  
  .right-container {
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden; /* Change this to hidden */
    height: 100%;
  }
  
  .map-container {
    height: 100%;
    overflow: hidden; /* Add this line */
  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  

  .schedule-button {
    position: absolute;
    bottom: 10px; /* Adjust the bottom spacing as needed */
    right: 10px; /* Adjust the right spacing as needed */
  }

/* Additional styles for better button positioning */
.date-selector {
    position: relative;
  }
  .left-container {
    position: relative;
  }