<!-- carte.component.html -->

<div class="container">
    <div class="filter-container">

        <h2 class="filter-section-heading">Filtres</h2>
            <div class="filter-components">
            <div class="date-selector">
                <label class="label-text" for="deliveryDate">Jour de Livraison :</label>
                <div class="input-container">
                    <input type="date" id="deliveryDate" [(ngModel)]="date">
                    <i class="fas fa-calendar-alt"></i> <!-- FontAwesome calendar icon -->
                </div>
            </div>
        </div>
    </div>

    <div class="itinerary-container">
        <h2 class="itinerary-section-heading">Livraisons de {{ user || '' }} du {{ date | date: 'dd/MM/yyyy' }}</h2>

        <app-map
            [userId]="userId"
            [dateStr]="date"
            [siderWidth]="'70%'"
        ></app-map> <!-- siderWidth to 70% makes it 70% of 50% of the available space because it is inside a flex box. -->
    </div>
</div>
