<div ngClass="container-companyUpdateModal">
    <div ngClass="container-title-companyUpdateModal">
        <h1 ngClass="title-companyUpdateModal">Mise à jour de l'entreprise</h1>
    </div>

    <div ngClass="content-companyUpdateModal">
        <div ngClass="container-input-companyUpdateModal">
            <mat-form-field ngClass="content-input-companyUpdateModal">
                <mat-label ngClass="title-input-companyUpdateModal">Nom de l'entreprise</mat-label>
                <input matInput ngClass="input-companyUpdateModal" placeholder="Ex. Diagora" [(ngModel)]="company_name"
                    name="name" [required]="true">
            </mat-form-field>
            <p ngClass="error-message-input-companyUpdateModal" *ngIf="errorMessage !== ''">*{{errorMessage}}</p>
        </div>

        <div ngClass="container-button-companyUpdateModal">
            <button ngClass="cancel button-companyUpdateModal" mat-raised-button color="warn" (click)="close()">
                Annuler
            </button>
            <button ngClass="validate button-companyUpdateModal" mat-raised-button color="primary"
                (click)="updateCompany()">
                Valider
            </button>
        </div>
    </div>
</div>