<div class="container">
    <div class="section client" routerLink="/manager/gestion-client" routerLinkActive="active">
        <div class="overlay"></div>
        <img src="../../assets/background-client.jpg" alt="Client">
        <div class="text">Client Section</div> <!-- Added text -->
    </div>
    <div class="section livreur" routerLink="/manager/userList" routerLinkActive="active">
        <div class="overlay"></div>
        <img src="../../assets/background-livreur.jpg" alt="Livreur">
        <div class="text">Livreur Section</div> <!-- Added text -->
    </div>
    <div class="section tools" routerLink="/manager/tools" routerLinkActive="active">
        <div class="overlay"></div>
        <img src="../../assets/background-tools.jpg" alt="Tools">
        <div class="text">Tools Section</div> <!-- Added text -->
    </div>
</div>