.container {
    display: flex;
    max-width: 100vw;
    overflow: hidden;
}

.section {
    position: relative;
    flex: 1;
    height: 94vh;
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        transition: opacity 0.3s ease;
    }

    &:hover {
        transform: scale(1.1);

        .overlay {
            opacity: 0;
        }
    }

    .text {
        position: static;
        color: white;
        font-size: 36px;
        font-weight: bold;
        z-index: 3;
        bottom: 20px;
        width: 100%;
        transition: color 0.3s ease; /* Add transition for smooth color change */
        color: rgb(255, 255, 255); /* Light gray color with opacity */
    }

    &:hover .text {
        color: rgb(56, 56, 56); /* Light gray color with opacity on hover */
    }
}
