<!-- <h1 mat-dialog-title>Ajouter une nouvelle commande</h1>
<div mat-dialog-content ngClass="command" >
    <form ngClass="commandAddForm">
        <mat-form-field ngClass="commandAddForm-full-with">
          <mat-label>Nom</mat-label>
          <input matInput [formControl]="requiredValue" placeholder="Ex. Jean">
          <mat-error *ngIf="requiredValue.hasError('required')">
            Le nom est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field ngClass="commandAddForm-full-with">
          <mat-label>Date</mat-label>
          <input matInput [formControl]="requiredValue" placeholder="Ex. 2000-01-01">
          <mat-hint>YYYY/MM/DD</mat-hint>
          <mat-error *ngIf="requiredValue.hasError('required')">
            La date est <strong>obligatoire</strong>
          </mat-error>
      </mat-form-field>
        <mat-form-field ngClass="commandAddForm-full-with">
            <mat-label>Adresse</mat-label>
            <input matInput [formControl]="requiredValue" placeholder="Ex. 1 Place Paul Bec">
            <mat-error *ngIf="requiredValue.hasError('required')">
              L'adresse est <strong>obligatoire</strong>
            </mat-error>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
    <button ngClass="cancel" mat-flat-button color="warn" mat-dialog-close>Annuler</button>
    <button ngClass="validate" mat-flat-button color="primary" (click)="createOrder()" mat-dialog-close>Valider</button>
</div> -->