<div class="page-container">
    <filter-bar
        class="filter-container"
        [UsersTeams]="UsersTeams"
        (selectedDataChange)="handleSelectedDataChange($event)"
        (companyDataChange)="handleCompanyDataChange($event)"
    ></filter-bar>
    <div class="container">
        <div class="main-calendar-container">
            <h2 class="itinerary-section-heading"></h2>
            <div class="left-right-container">
                <div class="calendar-container">
                    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                    <div *ngIf="!loading">
                        <full-calendar
                            #fullcalendar
                            [options]="calendarOptions"
                        ></full-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <order-bar class="order-bar"></order-bar>
        <div class="button-container">
            <button class="schedule-proposition-button" (click)="openPropositionModal()">Proposition</button>
        </div>
    </div>
</div>
