@import "filter/filter.component.scss";

.container {
    display: flex;
    height: 94vh;
    overflow: hidden;
}

.calendar-container {
    width: 80%;
    margin: auto;
}

.main-calendar-container {
    flex: 11;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
