<div ngClass="container-detailsVehiculeModal">
    <div ngClass="container-title-detailsVehiculeModal">
        <h1 ngClass="title-detailsVehiculeModal">Détails du véhicule</h1>
    </div>
    <div class="content-detailsVehiculeModal">
        <p class="text-detailsVehiculeModal"><strong>Nom:</strong> {{ name }}</p>
        <p class="text-detailsVehiculeModal"><strong>Dimentions:</strong> {{ dimentions }}</p>
        <p class="text-detailsVehiculeModal"><strong>Capacité:</strong> {{ capacity }}</p>
    </div>
</div>