<div>
    <div>
        <h1>Utilisateurs de Diagora</h1>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Entreprise</mat-label>
            <input matInput placeholder="Ex. Diagora" [(ngModel)]="entrepriseFilter" name="filterEntreprise">
        </mat-form-field>
    </div>
    <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="entreprise">
                <th mat-header-cell *matHeaderCellDef> Entreprise </th>
                <td mat-cell *matCellDef="let element"> {{element.entreprise}} </td>
            </ng-container>
            <ng-container matColumnDef="utilisateur">
                <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
                <td mat-cell *matCellDef="let element"> {{element.utilisateur}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef> Rôles </th>
                <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</div>