<!-- create-schedule-modal.component.html -->
<div ngClass="container-modals">
    <div ngClass="container-title-modals">
        <h1 ngClass="title-modals">Ajouter une commande pour {{ userName }}</h1>
    </div>
    
    <div ngClass="content-space-around-modals-custom">
        <form [formGroup]="scheduleForm">
            <!-- Date picker -->
            <div ngClass="container-input-modals"> 
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Jour de livraison :</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="deliveryDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Heure de livraison :</mat-label>
                    <input matInput type="time" formControlName="deliveryTime" required>
                </mat-form-field>
            </div>
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Description :</mat-label>
                    <input matInput placeholder="Description" formControlName="description" required #descriptionInput autofocus>
                </mat-form-field>
            </div>
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Clients</mat-label>
                    <mat-select formControlName="client">
                        <mat-option *ngFor="let client of clientsList" [value]="client" (click)="updateAdress(client)"> 
                            <div class="clientSelct">
                                <h3>{{client.email}}</h3>
                                <p>{{client.address}}</p>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Adresse de livraison :</mat-label>
                    <textarea matInput formControlName="deliveryAddress" required></textarea>
                </mat-form-field>
            </div>
        </form>
        <button *ngIf="!displayNewClient" (click)="displayNewClient = !displayNewClient" class="AddClientButton">Ajouter un client</button>
        <form [formGroup]="newClientForm" *ngIf="displayNewClient">
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Nom</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
            </div>
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">Entreprise</mat-label>
                    <input matInput formControlName="surname" required>
                </mat-form-field>
            </div>
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
            </div>
            <div ngClass="container-input-modals">
                <mat-form-field ngClass="content-input-modals">
                    <mat-label ngClass="title-input-modals">address</mat-label>
                    <input matInput formControlName="address" required>
                </mat-form-field>
            </div>
            <div *ngIf="displayClientAlreadyExists">
                <p>Client déjà existant</p>
                <p>Voulez-vous tout de meme l'ajouter ?</p>
                <div>
                    <button (click)="createClient()" class="addOrDelete">Oui</button>
                    <button (click)="displayClientAlreadyExists = !displayClientAlreadyExists" class="addOrDelete">Non</button>
                </div>
            </div>
            <button (click)="addNewClient()" class="addOrDelete" *ngIf="!displayClientAlreadyExists">Ajouter</button>
            <button (click)="displayNewClient = !displayNewClient" class="addOrDelete" *ngIf="!displayClientAlreadyExists">Annuler</button>
        </form>
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>    
        <div ngClass="container-button-modals">
            <button ngClass="cancel button-modals" mat-raised-button color="warn" (click)="closeDialog(null)">Fermer</button>
            <button ngClass="validate button-modals" mat-raised-button color="primary" (click)="submitForm()">Ajouter</button>
        </div>
    </div>
</div>
