/* create-schedule-modal.component.scss */
@import "../../../../modals.scss";

.content-space-around-modals-custom {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "div div"
    "button button";
    gap: 30px;
    justify-content: space-around;
    margin-bottom: 30px;

}

.AddClientButton {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.3s, font-size 0.3s; /* Add transition for smooth effect */
}

.AddClientButton:hover {
    background-color: #e0e0e0; /* Darker background color on hover */
    font-size: 16px; /* Increase font size on hover */
}


.addOrDelete {
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: #f5f5f5;
    }
}

.clientSelct {
    h3 {
        font-size: 15px;
        margin: 0;
    }
    p {
        font-size: 12px;
        margin-top: 5px;
    }
}