/* create-schedule-modal.component.scss */

// Overall modal styles
:host {
    display: block;
}

mat-dialog-content {
    margin-top: 15px;
}

.full-width {
    width: 100%;
}

// Form field styles
mat-form-field {
    width: 100%;
    margin-bottom: 15px;

    // Input styles
    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
}

// Button styles
mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    button {
        min-width: 100px;
    }
}

.error-message {
    color: red;
    margin-top: 10px;
}

.AddClientButton {
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: #f5f5f5;
    }
}

.addOrDelete {
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: #f5f5f5;
    }
}

.clientSelct {
    h3 {
        font-size: 15px;
        margin: 0;
    }
    p {
        font-size: 12px;
        margin-top: 5px;
    }
}