
@import '../../../../variables.scss';

.container-deleteCommandModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-title-deleteCommandModal {
    margin: 0 20px;
}

.title-deleteCommandModal {
    margin: 30px;
    margin-bottom: 50px;
    color: black;
}

.content-deleteCommandModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 30px;
    margin-bottom: 30px;
}

.content-input-deleteCommandModal {
}

.title-input-deleteCommandModal {
}

.container-selectInput-deleteCommandModal {
}

.option-selectInput-deleteCommandModal {

}

.container-input-deleteCommandModal {
}

.input-deleteCommandModal {
}

.container-button-deleteCommandModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-deleteCommandModal {
}

.validate {
    background-color: $button-main-color !important;
    color: white !important;
}

.validate:hover {
    background-color: $button-main-color-hover !important;
}

// .cancel {
//     background-color: $button-wrong-color !important;
//     color: black !important;
//     border: none;
//     border-radius: 4px;
//     pdeleteing: 10px;
//     font-weight: bold;
//     text-transform: uppercase;
//     width: 100px;
// }

// .cancel:hover {
//     background-color: $button-wrong-color-hover !important;
// }
