<div class="contentGlobal">
    <div class="userInformation">
        <form [formGroup]="userInformationFrom" (ngSubmit)="updateUserInformation()">
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ex. william">
                    <mat-error *ngIf="userInformationFrom.get('name')?.hasError('required')">
                        Nom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email" placeholder="Ex. william@diagora.fr">
                    <mat-error *ngIf="userInformationFrom.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" *ngIf="manager" class="button-form">Mettre à jour les informations</button>
        </form>
        <form  [formGroup]="formPassword" (ngSubmit)="updateMDP()">
            <h2>Modifier votre mot-de-passe</h2>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Votre mot de passe">
                    <mat-error *ngIf="formPassword.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Confirmer votre mot-de-passe</mat-label>
                    <input type="password" matInput formControlName="passwordConfirm" placeholder="Votre mot de passe">
                    <mat-error *ngIf="formPassword.get('passwordConfirm')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" [disabled]="formPassword.invalid" class="button-form">Modifier votre mot-de-passe</button>
        </form>
    </div>
    <div class="EntrepriseInformation">
        <form [formGroup]="entrepriseForm" (ngSubmit)="updateEntreprise()" >
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Nom de l'entreprise</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ex. Diagora">
                    <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                        Nom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="twoInColumn">
                <div class="inputContainer-form-profil">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero de la rue</mat-label>
                        <input type="text" matInput formControlName="number" placeholder="Ex. 1 rue de la paix">
                        <mat-error *ngIf="entrepriseForm.get('number')?.hasError('required')">
                            Le numero de la rue est <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="inputContainer-form-profil">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom de la rue</mat-label>
                        <input type="text" matInput formControlName="rue" placeholder="Ex. 1 rue de la paix">
                        <mat-error *ngIf="entrepriseForm.get('rue')?.hasError('required')">
                            Le nom de la rue est <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="twoInColumn">
                <div class="inputContainer-form-profil">
                    <mat-form-field class="example-full-width">
                        <mat-label>Ville</mat-label>
                        <input type="text" matInput formControlName="ville" placeholder="Ex. 1 rue de la paix">
                        <mat-error *ngIf="entrepriseForm.get('ville')?.hasError('required')">
                            La ville est <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="inputContainer-form-profil">
                    <mat-form-field class="example-full-width">
                        <mat-label>Code postal</mat-label>
                        <input type="text" matInput formControlName="postalCode" placeholder="Ex. 1 rue de la paix">
                        <mat-error *ngIf="entrepriseForm.get('postalCode')?.hasError('required')">
                            Le code postal est <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button *ngIf="manager" mat-raised-button type="submit"  class="button-form">Mettre à jour les informations de l'entreprise</button>
        </form>
        <div class="contentSelectColor">
            <mat-form-field appearance="fill">
                <mat-label>Choose a color</mat-label>
                <input matInput type="color" [(ngModel)]="selectedColor">
            </mat-form-field>
            <button (click)="updateColor()" mat-raised-button class="button-form">Mettre a jour votre couleur</button>
        </div>
    </div>
    </div>