<div class="contentGlobal">
    <div class="userInformation">
        <form [formGroup]="userInformationFrom" (ngSubmit)="updateUserInformation()">
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ex. william">
                    <mat-error *ngIf="userInformationFrom.get('name')?.hasError('required')">
                        Nom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email" placeholder="Ex. william@diagora.fr">
                    <mat-error *ngIf="userInformationFrom.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" *ngIf="manager">Mettre a jour les informations</button>
        </form>
        <form  [formGroup]="formPassword" (ngSubmit)="updateMDP()">
            <h2>Modifier votre mot-de-passe</h2>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Votre mot de passe">
                    <mat-error *ngIf="formPassword.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Confirmer votre mot-de-passe</mat-label>
                    <input type="password" matInput formControlName="passwordConfirm" placeholder="Votre mot de passe">
                    <mat-error *ngIf="formPassword.get('passwordConfirm')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" [disabled]="formPassword.invalid">Modifier votre mot-de-passe</button>
        </form>
        <button mat-raised-button (click)="logout()" class="logoutButton">Déconnection</button>
    </div>
    <div class="EntrepriseInformation">
        <form [formGroup]="entrepriseForm" (ngSubmit)="updateEntreprise()">
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Nom de l'entreprise</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ex. Diagora">
                    <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                        Nom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="inputContainer-form-profil">
                <mat-form-field class="example-full-width">
                    <mat-label>Adresse de l'entreprise</mat-label>
                    <input type="text" matInput formControlName="address" placeholder="Ex. 1 rue de la paix">
                    <mat-error *ngIf="entrepriseForm.get('address')?.hasError('required')">
                        Adresse is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" *ngIf="manager">Mettre à jour les informations de l'entrepise</button>
        </form>
    </div>
    <div class="managerDiv" *ngIf="!manager; else other">
        userDiv
    </div>

    <ng-template #other>
        <div class="managerDiv">
            <h2>Employé de l'entreprise</h2>
            <div class="userListContent">
                <div class="titleItemList">
                    <p>Nom</p>
                    <p>Email</p>
                </div>
                <div class="line"></div>
                <li *ngFor="let user of users_company" class="userListItem">
                    <p>{{user.name}}</p>
                    <p>{{user.email}}</p>
                </li>
            </div>
        </div>
    </ng-template>
</div>