@import "../../variables.scss";

h2 {
    color: $font-color;
    font-family: $font-family;
}
.contentGlobal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 50px;
}
    
.userInformation { 
    grid-area: 1 / 1 / 3 / 2;
    padding: 15px;
    text-align: center;
}
.EntrepriseInformation { 
    padding: 15px;
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}
.managerDiv { 
    border: 1px solid black; 
    border-radius: 12px;
    padding: 15px;
    grid-area: 1 / 2 / 4 / 3; 
    text-align: center;

}

.inputContainer-form-profil {
    display: grid;
    width: 100%;
    gap: 5px;
}

.logoutButton {
    margin: 10px 0;
}

.userListContent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.titleItemList {
    display: flex;
    justify-content: space-evenly
}

.userListItem {
    display: flex;
    justify-content: space-evenly;
}

.line {
    border-bottom: 1px solid black;
    width: 100%;
}