<div ngClass="container-deleteVehiculeModal">
    <div ngClass="container-title-deleteVehiculeModal">
        <h1 ngClass="title-deleteVehiculeModal">Suppression du véhicule</h1>
    </div>
    <div class="content-deleteVehiculeModal">
        <p class="text-deleteVehiculeModal">Êtes-vous sûr de vouloir supprimer ce véhicule ?</p>
        <div ngClass="container-button-deleteVehiculeModal">
            <button ngClass="cancel button-deleteVehiculeModal" mat-raised-button color="warn"
                (click)="close()">Annuler</button>
            <button ngClass="validate button-deleteVehiculeModal" mat-raised-button color="primary"
                (click)="deleteVehicule()">Valider</button>
        </div>
    </div>
</div>