$font-color: #01ABA8;

.container-deleteVehiculeModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
}

.container-title-deleteVehiculeModal {
    margin: 0 20px;
}

.title-deleteVehiculeModal {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 30px;
    margin-bottom: 20px;
    color: $font-color;
    text-transform: uppercase;
}

.content-deleteVehiculeModal {
    width: 80%;
    margin-bottom: 20px;
}

.text-deleteVehiculeModal {
    font-size: 1.3rem;
    text-align: center;
}

.container-button-deleteVehiculeModal {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-area: button;
    gap: 30px;
    margin-top: 50px;
}

.button-deleteVehiculeModal {
    height: 50px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
}