<div class="contentPage">
    <div class="contentBox">
        <h1 class="title">Réinitialiser votre mot de passe</h1>
        <h4 class="subtitle">Entrez votre E-mail afin de recevoir un email pour réinitialiser votre mot de passe</h4>
        <form [formGroup]="emailForm" (ngSubmit)="forgotPassword()" class="form">
            <div class="inputContainer">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. entreprise@diagora.com">
                    <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="emailForm.get('email')?.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button type="submit" class="button-form" [disabled]="emailForm.invalid">Envoyer</button>
                <div class="backContent">
                    <a class="backLogin" routerLink="/login">Retour Connexion</a>
                </div>
            </div>
        </form>
    </div>
    <div class="container-right-login">
        <div class="background-login"></div>
    </div>
</div>