<div ngClass="container-detailsCommandModal">
    <div ngClass="container-title-detailsCommandModal">
        <h1 ngClass="title-detailsCommandModal">Détails de la commande</h1>
    </div>
    <div class="content-detailsCommandModal">
        <p class="text-detailsCommandModal"><strong>Description:</strong> {{ description }}</p>
        <p class="text-detailsCommandModal"><strong>Adresse de livraison:</strong> {{ delivery_address }}</p>
        <p class="text-detailsCommandModal"><strong>Date de livraison:</strong> {{ order_date }}</p>
    </div>
</div>