$font-color: #01ABA8;

.container-detailsCommandModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
}

.container-title-detailsCommandModal {
    margin: 0 20px;
}

.title-detailsCommandModal {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 30px;
    margin-bottom: 40px;
    color: $font-color;
    text-transform: uppercase;
}

.content-detailsCommandModal {
    width: 80%;
    margin-bottom: 30px;
}

.text-detailsCommandModal {
    font-size: 1.3rem;
}

