<div ngClass="container-userUpdateModal">
    <div ngClass="container-title-userUpdateModal">
        <h1 ngClass="title-userUpdateModal">Modification de {{ baseEmail }}</h1>
    </div>

    <div ngClass="content-userUpdateModal">
        <!-- <div ngClass="container-input-userUpdateModal">
            <mat-form-field ngClass="content-input-userUpdateModal">
                <mat-label ngClass="title-input-userUpdateModal">Rôles</mat-label>
                <mat-select ngClass="container-selectInput-userUpdateModal" placeholder="Sélectionnez" [(value)]="roles"
                    multiple [required]="true">
                    <mat-option ngClass="option-selectInput-userUpdateModal" *ngFor="let role of rolesList"
                        [value]="role">{{ role.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div ngClass="container-input-userUpdateModal">
            <mat-form-field ngClass="content-input-userUpdateModal">
                <mat-label ngClass="title-input-userUpdateModal">Nom</mat-label>
                <input matInput ngClass="input-userUpdateModal" placeholder="Ex. Pierre" [(ngModel)]="user.name"
                    name="name" [required]="true">
            </mat-form-field>
        </div>

        <div ngClass="container-input-userUpdateModal">
            <mat-form-field ngClass="content-input-userUpdateModal">
                <mat-label ngClass="title-input-userUpdateModal">Email</mat-label>
                <input matInput ngClass="input-userUpdateModal" placeholder="Ex. Pierre@mail.com"
                    [(ngModel)]="user.email" name="email" #emailField="ngModel" [required]="true">
            </mat-form-field>
            <!-- <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                <mat-error *ngIf="emailField.errors?.['required']">L'email est requis.</mat-error>
                <mat-error *ngIf="emailField.errors?.['email']">L'email n'est pas valide.</mat-error>
            </div> -->
        </div>

        <div ngClass="container-button-userUpdateModal">
            <button ngClass="cancel button-userUpdateModal" mat-raised-button color="warn"
                (click)="close()">Annuler</button>
            <button ngClass="validate button-userUpdateModal" mat-raised-button color="primary"
                (click)="updateUser()">Valider</button>
        </div>
    </div>
</div>