<div ngClass="container-userList">
    <div ngClass="container-title-userList">
        <h1 ngClass="title-userList">Utilisateurs de <strong>{{ entreprise }}</strong></h1>
    </div>
    <div ngClass="container-new-user">
        <button mat-raised-button class="button-new-user" (click)="openModalNewUser()">Ajouter un utilisateur</button>
    </div>
    <div *ngIf="popUp" ngClass="PopUpContainer">
        <div class="popUp">
            <h2>Nouvelle utilisateur</h2>
            <form [formGroup]="newUserForm" (ngSubmit)="addUser()" class="container-form-newUser">
                <div class="inputContainer-form-login">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex. william@diagora.fr">
                        <mat-error *ngIf="newUserForm.get('email')?.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="newUserForm.get('email')?.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="inputContainer-form-login">
                    <mat-form-field class="example-full-width">
                        <mat-label>Prénom</mat-label>
                        <input type="text" matInput formControlName="name" placeholder="Ex. William">
                        <mat-error *ngIf="newUserForm.get('name')?.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="inputContainer-form-login-checkbox">
                    <h2>Roles</h2>
                    <div class="contentCheckbox">
                        <div *ngFor="let role of allRoles">
                            <label>{{role.name}}</label>
                            <input type="checkbox" [checked]="role.checked" (change)="role.checked = !role.checked">
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="button-form" [disabled]="newUserForm.invalid">Créer votre Nouvelle utilisateur</button>
            </form>
        </div>
    </div>
    <div ngClass="container-tab-userList mat-elevation-z8" tabindex="0">
        <table ngClass="tab-userList" mat-table [dataSource]="dataSource">
            <ng-container class="content-tab-userList" matColumnDef="utilisateur" >
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Utilisateur </th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let element" (click)="openModalUpdateUser(element)"> {{element.name}} </td>
            </ng-container>
            <ng-container class="content-tab-userList" matColumnDef="email">
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Email </th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let element" (click)="openModalUpdateUser(element)"> {{element.email}} </td>
            </ng-container>
            <ng-container class="content-tab-userList" matColumnDef="roles">
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Rôles </th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let element" (click)="openModalUpdateUser(element)"> {{element.roles}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="modalUpdateUser" class="modalUpdateUserContent">
            <div class="modalUpdateUser">
                <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
                    <h2>Modifier l'utilisateur</h2>
                    <div class="inputContainer-form-login">
                        <mat-form-field class="example-full-width">
                            <mat-label>Nom</mat-label>
                            <input type="name" matInput formControlName="name" placeholder="Ex. william">
                            <mat-error *ngIf="updateUserForm.get('name')?.hasError('required')">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="inputContainer-form-login-checkbox">
                        <h2>Roles</h2>
                        <div class="contentCheckbox">
                            <div *ngFor="let role of updateUserRole">
                                <label>{{role.name}}</label>
                                <input type="checkbox" [checked]="role.checked" (change)="role.checked = !role.checked">
                            </div>
                        </div>
                    </div>
                    <div class="contentButtonUpdate">
                        <button mat-raised-button type="submit" class="button-form">Mettre à jour les informations utilisateur</button>
                        <button mat-raised-button class="button-form">Supprimé l'utilisateur</button>
                    </div>
                </form>
                <button mat-raised-button (click)="modalUpdateUser = false">Fermer</button>
            </div>
        </div>
    </div>
</div>
