<div ngClass="container-userList">
    <div ngClass="container-title-userList">
        <h1 ngClass="title-userList">Utilisateurs de {{ entreprise }}</h1>
    </div>
    <div ngClass="container-utils-userList">
        <div ngClass="container-button-utils-userList">
            <button ngClass="new button-utils-userList" mat-raised-button color="primary"
                (click)='openModal("USERCREATE")'>
                + Nouvel Utilisateur
            </button>
        </div>
    </div>
    <div ngClass="container-tab-userList mat-elevation-z8" tabindex="0">
        <table ngClass="tab-userList" mat-table [dataSource]="userList">
            <ng-container class="content-tab-userList" matColumnDef="utilisateur">
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Utilisateur </th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let user"> {{user.name}} </td>
            </ng-container>
            <ng-container class="content-tab-userList" matColumnDef="email">
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Email </th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>
            <ng-container class="content-tab-userList" matColumnDef="roles">
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef> Rôles </th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let user">
                    <div class="roles-container">
                        <span class="roles-name">{{getUserRoles(user.roles)}}</span>
                    </div>
                </td>
            </ng-container>
            <ng-container class="content-tab-userList" matColumnDef="settings">
                <th ngClass="header-tab-userList" mat-header-cell *matHeaderCellDef></th>
                <td ngClass="data-tab-userList" mat-cell *matCellDef="let user">
                    <div class="settings-container">
                        <button class="user-edit-button button-data-tab-userList" (click)='callUpdateUser(user)'>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="user-edit-button button-data-tab-userList" (click)='callUpdateUserVehicle(user)'>
                            <mat-icon>directions_car</mat-icon>
                        </button>
                        <button class="user-edit-button button-data-tab-userList" (click)='callDeleteUser(user)'>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>