$font-color: #01ABA8;
$test2: #888585;

$font-family: 'Nunito';
$main-color: #01ABA8;

$button-main-color: #01ABA8;
$button-main-color-disabled: #7ab1b1;

$title-size: 32px;

$subtitle-size: 20px;

$font-size: 14px;

$link-color: #0F3DDE;

