<div>
    <div *ngIf="logout1" class="logout">
        <div class="contentBox" (click)="cancel()">
            <h2>Annuler</h2>
        </div>
        <div class="contentBox" (click)="confirm()">
            <h2>Confirmer</h2>
        </div>
    </div>
    <div class="contentPage">
        <div class="box" (click)="goto('planning')">
            <h2>Calendrier</h2>
            <img class="imgBox" src="../../assets/planning-mensuel.png" alt="">
        </div>
        <div class="box" (click)="goto('commands')">
            <h2>Commande</h2>
            <img class="imgBox" src="../../assets/commande.png" alt="">
        </div>
        <div class="box" (click)="goto('vehicule')">
            <h2>Véhicule</h2>
            <img class="imgBox" src="../../assets/vehicule.jpg" alt="">
        </div>
        <div class="box" *ngIf="hasPermission('admin')" (click)="goto('manager/userList')">
            <h2>Manager Panel</h2>
            <img class="imgBox" src="../../assets/panel.svg" alt="">
        </div>
    </div>
</div>