<div>
    <div class="logoContent">
        <img class="logo" src="../../assets/logo.png">
        <h2 class="logoName">DIAGORA</h2>
    </div>
    <div class="contentPage">
        <div class="box" (click)="goto('planning')">
            <h2>Planning</h2>
            <img class="imgBox" src="../../assets/planning-mensuel.png" alt="">
        </div>
        <div class="box" (click)="goto('commande')">
            <h2>Commande</h2>
            <img class="imgBox" src="../../assets/commande.png" alt="">
        </div>
        <div class="box" (click)="goto('Statistique')">
            <h2>Statistique</h2>
            <img class="imgBox" src="../../assets/stat.png" alt="">
        </div>
        <div class="box" (click)="goto('vehicule')">
            <h2>Vehicule</h2>
            <img class="imgBox" src="../../assets/vehicule.jpg" alt="">
        </div>
    </div>
</div>