<div>
    <div class="NavBar">
        <img class="logo" src="../../assets/logo.png" alt="">
        <div class="contentCenter">
            <div class="contentBox">
                <img src="../../assets/planning.svg" alt="">
                <h2>Planning</h2>
            </div>
            <div class="contentBox">
                <img src="../../assets/command.svg" alt="">
                <h2>Commandes</h2>
            </div>
            <div class="contentBox">
                <img src="../../assets/vehicule.svg" alt="">
                <h2>Vehicules</h2>
            </div>
            <div class="contentBox">
                <img src="../../assets/statistic.svg" alt="">
                <h2>Statistiques</h2>
            </div>
        </div>
        <div class="contentBox">
            <img src="../../assets/profile.svg" alt="">
            <h2>Profile</h2>
        </div>
    </div>
    <div class="contentPage">
        <div class="box" (click)="gotoplan()">
            <h2>Planning</h2>
            <img class="imgBox" src="../../assets/planning-mensuel.png" alt="">
        </div>
        <div class="box" (click)="gotocomm()">
            <h2>Commande</h2>
            <img class="imgBox" src="../../assets/commande.png" alt="">
        </div>
        <div class="box" (click)="goto('Statistique')">
            <h2>Statistique</h2>
            <img class="imgBox" src="../../assets/stat.png" alt="">
        </div>
        <div class="box" (click)="goto('vehicule')">
            <h2>Vehicule</h2>
            <img class="imgBox" src="../../assets/vehicule.jpg" alt="">
        </div>
    </div>
</div>