<div ngClass="container-modals">
    <div ngClass="container-title-modals">
        <h1 ngClass="title-modals">Ajouter une commande</h1>
    </div>

    <div ngClass="content-modals">

        <!-- Date picker -->
        <div ngClass="container-input-modals">
            <mat-form-field ngClass="content-input-modals">
                <mat-label ngClass="title-input-modals">Jour de livraison:</mat-label>
                <input ngClass="input-modals" matInput [matDatepicker]="picker" [(ngModel)]="date" name="date" [required]="true">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- Time picker (custom implementation or third-party library) -->
        <!-- For example, you can use a simple input for time -->
        <div ngClass="container-input-modals">
            <mat-form-field ngClass="content-input-modals">
                <mat-label ngClass="title-input-modals">Heure de livraison:</mat-label>
                <input ngClass="input-modals" matInput type="time" [(ngModel)]="hours" name="hours" [required]="true">
            </mat-form-field>
        </div>

        <div ngClass="container-input-modals">
            <mat-form-field ngClass="content-input-modals">
                <mat-label ngClass="title-input-modals">Description:</mat-label>
                <input matInput ngClass="input-modals" placeholder="Ex. Urgent pour netflix" [(ngModel)]="description"
                    name="description" [required]="true">
            </mat-form-field>
        </div>

        <div ngClass="container-input-modals">
            <mat-form-field ngClass="content-input-modals">
                <mat-label ngClass="title-input-modals">Adresse:</mat-label>
                <input matInput ngClass="input-modals"
                    placeholder="Ex. 1 Rue de la fontaine, 34000 Montpellier" [(ngModel)]="address" name="address"
                    [required]="true">
            </mat-form-field>
        </div>

        <div ngClass="container-button-modals">
            <button ngClass="cancel button-modals" mat-raised-button color="warn"
                (click)="close()">Annuler</button>
            <button ngClass="validate button-modals" mat-raised-button color="primary"
                (click)="addCommand()">Valider</button>
        </div>
    </div>
</div>