<div class="container-statistic">
    <div class="header-container-statistic">
        <div class="header-content-statistic">
            <p class="header-title-statistic">{{totalOrder || 0}}</p>
            <p class="header-subtitle-statistic">Livraisons</p>
            <canvas id="livraisonChart">{{livraisonChart}}</canvas>
        </div>
        <div class="header-content-statistic">
            <p class="header-title-statistic">{{dataSum}} km</p>
            <p class="header-subtitle-statistic">Distance</p>
            <canvas id="mileageChart">{{mileageChart}}</canvas>
        </div>
        <div class="header-content-statistic">
            <p class="header-title-statistic">{{totalExpense}} €</p>
            <p class="header-subtitle-statistic">Dépenses</p>
            <canvas id="expenseChart">{{expenseChart}}</canvas>
        </div>
    </div>
    <div class="body-container-statistic">
        <div class="body-content-statistic">
            <canvas id="vehicleDeliveryChart">{{vehicleDeliveryChart}}</canvas>
        </div>
        <div class="body-content-statistic">
            <div class="body-text-container-statistic">
                <div class="body-text-content-statistic">
                    <p class="header-title-statistic">{{clientCount || 0}}</p>
                    <p class="header-subtitle-statistic">Clients Totaux</p>
                </div>
                <div>
                    <p class="header-title-statistic">{{monthClientCount || 0}}</p>
                    <p class="header-subtitle-statistic">Clients ce mois</p>
                </div>
            </div>
            <canvas id="clientDeliveryChart">{{clientDeliveryChart}}</canvas>
        </div>
    </div>
</div>